<section class="home active">
  <header class="primary">
    <a class="menu-button"></a>
    <h1>Home</h1>
  </header>
  <div class="content">
    <input type="text" placeholder="Where to?" disabled="disabled">
    <ol>
      <li class="destination sf">
        <a>
          <header>
            <h2>San Francisco</h2>
            <h2>May 4 &ndash; 8</h2>
          </header>
          <img src="images/sf.png">
        </a>
      </li>
      <li class="destination">
        <a>
          <header>
            <h2>New York</h2>
            <h2>June 12 &ndash; 18</h2>
          </header>
          <img src="images/nyc.png">
        </a>
      </li>
    <ol>
  </div>
</section>
