<header class="primary">
  <h1>Travel</h1>
</header>
<nav id="primary-menu" class="close">
  <ol>
    <li class="active" data-id="home">
      <a>
        <span class="icon"></span>
        <span>Home</span>
      </a>
    </li>
    <li class="" data-id="trips">
      <a>
        <span class="icon"></span>
        <span>Trips</span>
      </a>
    </li>
    <li data-id="guide">
      <a>
        <span class="icon"></span>
        <span>Guide</span>
      </a>
    </li>
    <li data-id="flights">
      <a>
        <span class="icon"></span>
        <span>Flights</span>
      </a>
    </li>
    <li data-id="hotels">
      <a>
        <span class="icon"></span>
        <span>Hotels</span>
      </a>
    </li>
    <li data-id="circles">
      <a>
        <span class="icon"></span>
        <span>From your circles</span>
      </a>
    </li>
  </ol>
</nav>
