<section class="trips">
  <header class="primary">
    <a class="menu-button"></a>
    <h1>Trips</h1>
    <a class="list"></a>
    <a class="grid"></a>
  </header>
  <div class="content">
    <ol>

      <li class="trip">
        <a>
          <div class="image virgin"></div>
          <div class="details">
            <h2>Virgin VX 789</h2>
            <p class="locations">SFO <span class="arrow-icon"><img src="images/arrow.svg"></span> ORD</p>
            <p class="time">11:55 am &ndash; Fri, May 4</p>
          </div>
        </a>
      </li>

      <li class="trip">
        <a>
          <div class="image virgin"></div>
          <div class="details">
            <h2>Virgin VX 789</h2>
            <p class="locations">ORD <span class="arrow-icon"><img src="images/arrow.svg"></span> SFO</p>
            <p class="time">2:25 pm &ndash; Tue, May 8</p>
          </div>
        </a>
      </li>

      <li class="trip">
        <a>
          <div class="image sax"></div>
          <div class="details">
            <h2>Hotel Sax, Chicago</h2>
            <p class="time">3:00 pm &ndash; Fri, May 4</p>
          </div>
        </a>
      </li>

      <li class="trip">
        <a>
          <div class="image skydeck"></div>
          <div class="details">
            <h2>Skydeck Chicago</h2>
            <p>34 reviews</p>
            <p class="rating">4.0 <img src="images/stars.svg"></p>
          </div>
        </a>
      </li>

    <ol>
  </div>
</section>
